@import '../../variables';

.customSelect {
  width: 125px;

  text-align: left;
  font-size: 14px;
  font-weight: 500;

  color: $SOFT_BLACK;
  background-color: white;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
