@import '../../../variables';
.screen {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.card {
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: $BOX_SHADOW;
  p {
    font-size: 16px;
    font-weight: 600;
  }
}
.profileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.button {
  width: 100px;
  background-color: $DARK_BLUE;
  padding: 0px;
  margin-top: 10px !important;
}

.button:hover {
  background-color: $SOFT_BLACK !important;
}

.profileDescription {
  .clinicName {
    font-size: 16px;
    font-weight: 600;
  }
  .clinicType {
    font-size: 14px;
    color: $MEDIUM_GRAY;
    margin-left: 2px;
  }
}

.profileDetail {
  .directoryName {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
  }
  a {
    text-decoration: none;
    font-weight: 600;
  }
}
.status {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-weight: 600;
  color: $ERROR_RED;
  margin: 10px 0px;
  font-size: 14px;
}

.published {
  color: lightgreen;
}
