@use "../../variables" as var;

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var.$NAV_HEIGHT);
  background: var.$WHITE_GRAY;
  padding: 50px;
  box-sizing: border-box;
}

.setupContainer {
  width: 80%;
}
