@import '../../variables';

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: $WHITE_GRAY_DARK;
  padding: 50px;
  box-sizing: border-box;
}

.setupContainer {
  width: 80%;
}
