@import '../../../../variables';

.modalContainer {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 40%;
  height: auto;
  max-height: 100%;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: $BOX_SHADOW;
  -moz-box-shadow: $BOX_SHADOW;
  box-shadow: $BOX_SHADOW;
}

.modalNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px 0px;
  padding: 5px 5px 5px 10px;
  background-color: $WHITE_GRAY_DARK;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}
.modalHeader {
  font-size: 14px;
  font-weight: 700;
  color: $SOFT_BLACK;
}
.closeIcon {
  color: $CHARCOAL !important;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 50%;
}
.closeIcon:hover {
  background-color: $LIGHT_GRAY;
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 15px 25px 15px 25px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.formFieldContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.formFieldColContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.formIcon {
  color: $CHARCOAL !important;
  margin-right: 20px;
}
.errorText {
  margin-bottom: 5px;
  font-size: 12px;
  color: $ERROR_RED;
}

.recurrenceHeader {
  align-self: flex-start;
  margin: 15px 0px 15px 0px;
  font-size: 14px;
  font-weight: 700;
  color: $SOFT_BLACK;
}
.recurrenceText {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  color: $SOFT_BLACK;
}
.recurrenceNumDropdown {
  width: 100% !important;
  margin-right: 10px;
}
.recurrenceFreqDropdown {
  width: 100% !important;
}

.dayOfWeekButton {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 10px;
  background-color: $WHITE_GRAY_DARK;
  color: $SOFT_BLACK;
}
.dayOfWeekButton:hover {
  background-color: $PINK;
  color: white;
}
.dayOfWeekSelectedButton {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 10px;
  background-color: $PINK;
  color: white;
}
.dayOfWeekSelectedButton:hover {
  background-color: $PINK;
  color: white;
}

.saveButtonContainer {
  align-self: flex-end;
}
.saveButton {
  align-self: flex-end;
  width: 150px;
  margin-top: 15px;
  background-color: $PINK;
}
.saveButton:hover {
  background-color: $DARK_PINK;
}

/* For WebKit browsers (Chrome, Safari) */
.modalBody::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

.modalBody::-webkit-scrollbar-thumb {
  background-color: $LIGHT_GRAY; /* Color of the scrollbar thumb */
}

.modalBody::-webkit-scrollbar-track {
  background-color: white; /* Background color of the scrollbar track */
}

/* For Firefox */
.modalBody {
  scrollbar-width: 15px; /* Width of the scrollbar */
  scrollbar-color: $LIGHT_GRAY white; /* Color of the scrollbar thumb and track */
}

.modalBody::-ms-scrollbar-thumb {
  background-color: $LIGHT_GRAY; /* Color of the scrollbar thumb */
}

.modalBody::-ms-scrollbar-track {
  background-color: white; /* Background color of the scrollbar track */
}
