@import '../../variables';

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - $NAV_HEIGHT);
  background: $WHITE_GRAY;
  padding: 50px;
  box-sizing: border-box;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  min-height: 60vh;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: $BOX_SHADOW;
  -moz-box-shadow: $BOX_SHADOW;
  box-shadow: $BOX_SHADOW;
}

.header {
  font-size: 16px;
  font-weight: 700;
  color: $SOFT_BLACK;
  margin-bottom: 25px;
}

.button {
  height: 35px !important;
  margin: 20px 0px 0px 0px !important;
}
