@use "../../variables" as var;

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.spacedButtons {
  justify-content: space-between !important;
}
