@import '../../variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 20px;
  justify-content: space-between;
  line-height: 24px;
}

.title {
  color: $SOFT_BLACK;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;

  text-align: left;
  margin-bottom: 5px;
}

.inputFields {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.description {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  color: $CHARCOAL;
}
