@use "../../../variables" as var;

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  // background-color: var.$LIGHT_BLUE;
  background-image: url(../../../assets/SunryseBackgroundImage.png);
  background-size: cover !important;
  background-attachment: fixed;
}
