@import '../../../../variables';

.topAccordian {
  border-radius: 10px 10px 0px 0px !important;
}

.unselectedAccordian {
  background-color: $WHITE_GRAY !important;
}

.selectedAccordian {
  background-color: white !important;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: $SOFT_BLACK;
}

.text {
  font-size: 14px;
  color: $SOFT_BLACK;
}

.progressContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px 0px 0px;
}

.progressBarText {
  font-size: 14px;
  color: $DARK_GRAY;
}

.progressBar {
  width: 425px;
  margin: 5px 0px 0px 15px;
}
