@import '../../../../variables';

.topAccordian {
  border-radius: 10px 10px 0px 0px !important;
}

.unselectedAccordian {
  background-color: $WHITE_GRAY !important;
}

.unselectedAccordian:hover {
  background-color: white !important;
}

.selectedAccordian {
  background-color: white !important;
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 14px;
  font-weight: 600;
  color: $SOFT_BLACK;
}

.subTitle {
  width: 70%;
  font-size: 14px;
  margin-bottom: 10px;
  color: $SOFT_BLACK;
  line-height: 25px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 43px;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 150px;
  height: 150px;
  margin-right: 5%;
  margin-top: -50px;
}

.button {
  background-color: $DARK_BLUE !important;
  margin: 10px 0px 0px 0px !important;
}

.button:hover {
  background-color: black !important;
}
