@import '../../variables';

.actionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 50%;
  color: $CHARCOAL;
}

.icon:hover {
  cursor: pointer;
  background-color: $WHITE_GRAY;
}
