@import '../../variables';

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #659790, #f8bebd);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: $BOX_SHADOW;
  border-radius: 5px;
  background-color: white;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  margin: -20px 0px 0px -20px;
  width: 225px;
  height: 80px;
}

.title {
  color: $SOFT_BLACK;
  font-size: 25px;
  font-weight: 700;
  margin: 25px 0px 0px 0px;
}

.subtitle {
  color: $CHARCOAL;
  font-size: 16px;
  margin: 5px 0px 10px 0px;
}

.input {
  margin-top: 10px;
}
.button {
  width: 100% !important;
  height: 50px;
  margin-top: 25px !important;
  font-size: 16px !important;
  background-color: $PINK !important;
}

.button:hover {
  background-color: $DARK_PINK !important;
}
.pass input {
  border: 1px solid $SUCCESS_GREEN;
}
.fail input {
  border: 1px solid $ERROR_RED;
}
