@use "../../variables" as var;

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/SunryseBackgroundImage.png);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: var.$BOX_SHADOW;
  border-radius: 5px;
  background-color: white;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  width: 215px;
  height: 80px;
  margin: -20px 0px 0px -20px;
}

.title {
  margin: 25px 0px 0px 0px;
  color: var.$SOFT_BLACK;
  font-size: 25px;
  font-weight: 700;
}

.subtitle {
  margin: 5px 0px 10px 0px;
  color: var.$DARK_GRAY;
  font-size: 16px;
}

.input {
  margin-top: 10px;
}

.button {
  width: 100% !important;
  height: 50px;
  margin-top: 25px !important;
  font-size: 16px !important;
  background-color: var.$PINK !important;
}

.button:hover {
  background-color: var.$DARK_PINK !important;
}
