$DARK_BLUE: #052c35;
$BLUE: #bbecd2;
$LINK_BLUE: #005bd3;
$GREEN: #96bd2b;
$HOVER_GREEN: #87aa27;
$DARK_GRAY: #8c9195;
$GRAY: #e4e4e4;
$WHITE_GRAY: #f7f7f7;
$WHITE_GRAY_DARK: #f1f1f1;
$CHARCOAL: #5e5e5e;
$SOFT_BLACK: #303030;
$BLUE_GREEN_GRAD: linear-gradient(180deg, #052c35 0%, #bbecd2 100%);
$ERROR_RED: #c5514f;

$MIN_LARGE_TABLET_WIDTH: 765px;
$SIDE_NAV_WIDTH: 14%;
$NAV_HEIGHT: 75px;
