$DARK_BLUE: #052c35;
$BLUE: #bbecd2;
$LINK_BLUE: #005bd3;
$GREEN: #96bd2b;
$DARK_GRAY: #8c9195;
$GRAY: #e4e4e4;
$WHITE_GRAY: #f1f1f1;
$WHITE_GRAY_DARK: #f7f7f7;
$CHARCOAL: #5e5e5e;
$SOFT_BLACK: #303030;
$BLUE_GREEN_GRAD: linear-gradient(180deg, #052c35 0%, #bbecd2 100%);

$MIN_LARGE_TABLET_WIDTH: 765px;
