@import '../../variables';
* {
  box-sizing: border-box;
}
.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../assets/SunryseBackgroundImage.png);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
  padding: 25px 50px 25px 50px;
  box-sizing: border-box;
  box-shadow: $BOX_SHADOW;
  border-radius: 5px;
  background-color: white;
}

.logo {
  width: 215px;
  height: 80px;
  margin: 0px 0px 0px -20px;
}

.title {
  color: $SOFT_BLACK;
  font-size: 18px;
  font-weight: 700;
  margin: 25px 0px 0px 20px;
}

.subtitle {
  color: $CHARCOAL;
  font-size: 14px;
  margin: 10px 0px 10px 20px;
}
.formContainer {
  width: 80%;
  margin: 60px auto 0px auto;
}
.button {
  width: 100% !important;
  height: 38px;
  margin-top: 30px !important;
  font-size: 15px !important;
  background-color: $PINK !important;
  cursor: pointer;
}
.disabledButton {
  width: 100% !important;
  height: 38px;
  margin-top: 30px !important;
  font-size: 15px !important;
  cursor: pointer;
}

.text {
  text-align: center;
  margin: 30px 0px;
  font-size: 14px;
  color: $CHARCOAL;
  font-weight: 500;
}
.resendText {
  color: $PINK;
}

.resendText:hover {
  cursor: pointer;
  color: $DARK_PINK;
}
