@import '../../../variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 10px 0px 10px 0px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startEndContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.labelSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
}

.timeSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.dayOfWeekText {
  font-size: 14px;
  font-weight: 700;
}

.unavailableText {
  font-size: 14px;
  font-weight: 700;
  color: $CHARCOAL;
  margin-top: 10px;
}

.errorText {
  color: $ERROR_RED;
  font-size: 14px;
}

.icon {
  width: 50px;
  height: 50px;
  padding: 8px;
  margin-left: 10px;
  border-radius: 5px;
}

.icon:hover {
  cursor: pointer;
  background-color: $WHITE_GRAY;
}

.line {
  border-color: $WHITE_GRAY;
  width: 95%;
}
