.avator {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.avator img {
  width: 100%;
  height: 100%;
}

.small {
  width: 40px;
  height: 40px;
}

.medium {
  width: 60px;
  height: 60px;
}
.large {
  height: 90px;
  width: 90px;
}
